.rounded-pane {
    -fx-background-radius: 10;
}

.role-revealing {
    -fx-background-color: #FAF3EB;
}

.role-revealing .card-hidear {
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-background-color: #9A9A9A;

    -fx-border-width: 3;
    -fx-border-color: #999999;
}

.role-revealing .triangle {
    -fx-fill: #CCCCCC;
    -fx-border-radius: 0;
}

.role-revealing .scroll-text {
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #EAF3EB;
}

.role-revealing .under-scroll-text {
    -fx-text-alignment: center;
    -fx-font-size: 16;
    -fx-text-fill: #EAF3EB;
}

.role-revealing .team-role-text {
    -fx-text-alignment: center;
    -fx-font-size: 1;
    -fx-text-fill: #595959;
}

.role-revealing .team-role-text {
    -fx-text-alignment: center;
    -fx-font-size: 16;
    -fx-text-fill: #595959;
}

.rights_field .main-lable {
    -fx-font-size: 35;
    -fx-text-fill: #595959;
}

.rights_field .chosen-right {
    -fx-font-size: 20;
    -fx-text-fill: #393939;
}

.ability {
    -fx-background-radius: 29; 
    -fx-border-radius: 29;
    -fx-border-width: 2; 
    -fx-background-color: #EAF3EB; 
    -fx-border-color: #c5b5b5;
}

.ability .label { 
    -fx-alignment: center; 
    -fx-font-size: 15; 
    -fx-font-family: "monospace"; 
    -fx-text-fill: #4c5352;
    -fx-font-weight: bold;
}

.ability .count-text {
    -fx-font-size: 30;
}

.ability .circle {
    -fx-fill: #52c2ca; 
    -fx-border-width: 0;
}

.ability .use-circle {
    -fx-fill: #66dc56; 
    -fx-border-width: 0;
}

.card-to-remove .label {
    -fx-font-size: 20;
    -fx-text-fill: #3a393a;
}

.playres-icon-surface {
    -fx-background-color: #EAF3EB;
}

.playres-icon-surface .main-text {
    -fx-text-alignment: center;
    -fx-text-fill: #4c5352;
    -fx-font-size: 30;
}

.playres-icon-surface .scroll-pane {
    -fx-background-color: transparent;
}

.playres-icon-surface .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.playres-icon-surface .scroll-pane > .scroll-bar:vertical {
    -fx-pref-width: 6px;
}

.player-field {
    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-border-width: 2;
    -fx-border-color: #b2a2a2;


    -fx-background-color: linear-gradient(to left bottom, #EAF3EB, #ebe3be); /*#c0fbff, #f8aaff*/
}

.player-field .icon {
    -fx-background-radius: 40;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.player-field .role-icon {
    -fx-border-width: 1;
    -fx-border-color: #c2b2b2;
    -fx-fill: #EAF3EB;
}

.reveal-cards .label {
    -fx-font-size: 25;
    -fx-fill: #534343; 
    -fx-font-style: italic;
}


.kill-message .label {
    -fx-font-size: 19;
    -fx-text-fill: #983535; 
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.end-game .label {
    -fx-font-size: 25;
    -fx-text-fill: #534343;
    -fx-font-style: italic;
}

.end-game .role-text {
    -fx-font-size: 20;
    -fx-text-fill: #434343;
    -fx-font-style: italic;
}

.end-game .names-text {
    -fx-font-size: 18;
    -fx-text-fill: #c22f2f;
    -fx-font-style: default;
}