.rounded-pane {
    -fx-background-radius: 10;
}

.role-revealing {
    -fx-background-color: #FAF3EB;
}

.role-revealing .card-hidear {
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-background-color: #9A9A9A;

    -fx-border-width: 3;
    -fx-border-color: #999999;
}

.role-revealing .triangle {
    -fx-fill: #CCCCCC;
    -fx-border-radius: 0;
}

.role-revealing .scroll-text {
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-text-fill: #EAF3EB;
}

.role-revealing .under-scroll-text {
    -fx-text-alignment: center;
    -fx-font-size: 16;
    -fx-text-fill: #EAF3EB;
}